/* element styles */
html {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(46, 37, 41);
    color: white;
    margin: auto;
    text-align: center;
    font-family: monospace;
    height: 100vh;
    width: 100%;
}
p {
    margin: 30px;
    text-align: justify;
    text-justify: inter-word;
}

/* class styles */
.site-logo {
    width: 100%;
    background-color: rgb(108, 80, 93);
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    font-family: monospace;
}
.site-logo:hover {
    color: lightblue;
}
.site-logo img {
    vertical-align: middle;
}
.nav-bar {
    background-color: rgb(108, 80, 93);
    height: 48px;
    width: 100%;
    float: none;
    display: block;
    text-align: center;
    align-items: center;
    font-size: large;
    position: fixed;
    bottom: 0;
}

/* .nav-item .btn {
    width: 33.33%;
    list-style: none;
    line-height: 34px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.nav-item .btn:hover {
    background-color: rgb(253, 235, 243);
    color: rgba(108, 80, 93, 1);
} */
.attribution {
    text-decoration: none;
    font-weight: bold;
    color: mistyrose;
}
.home-section {
    background-image: url(../images/space.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-areas:
        "cy-name"
        "cy-dp"
        "tag-line";
}
.about-section {
    height: 100%;
    text-align: justify;
}

/* id styles */
#cy-name {
    grid-area: cy-name;
    font-size: 56px;
    place-self: center center;
    padding-bottom: 32px;
    padding-right: 82px;
}
#tag-line {
    grid-area: tag-line;
    font-size: 32px;
    place-self: center center;
    padding-top: 32px;
    padding-right: 82px;
    text-align: right;
}
#cy-dp {
    width: 50%;
    height: 50%;
    grid-area: cy-dp;
    place-self: center center;
}

/* responsive design */
@media screen and (min-width: 720px) {
    .nav-bar {
        top: 0;
        height: 54px;
        /* padding-left: 10px; */
    }
    .site-logo {
        display: inline-block;
        text-decoration: none;
        color: whitesmoke;
        font-size: larger;
        font-weight: bold;
        font-family: monospace;
    }
    .site-logo:hover {
        color: lightblue;
    }
    .site-logo img {
        vertical-align: middle;
    }
    .nav-item .btn {
        list-style: none;
        line-height: 34px;
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        text-align: center;
        color: white;
    }
    .nav-item .btn:hover {
        background-color: rgb(253, 235, 243);
        color: rgb(108, 80, 93);
    }
    .home-section {
        background-image: url(../images/space.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: right;
        height: 100%;
        display: grid;
        grid-template-areas:
            "cy-name     cy-dp"
            "tag-line    cy-dp";
    }
    .about-section {
        height: 100%;
        text-align: justify;
    }

    /* id styles */
    #cy-name {
        grid-area: cy-name;
        font-size: 56px;
        place-self: end end;
        padding-bottom: 32px;
        padding-right: 82px;
    }
    #tag-line {
        grid-area: tag-line;
        font-size: 32px;
        place-self: start end;
        padding-top: 32px;
        padding-right: 82px;
    }
    #cy-dp {
        grid-area: cy-dp;
        place-self: center start;
        padding-left: 80px;
        border-left: 2px solid whitesmoke;
    }

    /* ul.nav-list {
        flex-direction: row;
    }
    ul.nav-list .nav-item {
        border-top: 1px solid white;
        border-left: none;
    }
    ul.nav-list .nav-item:first-child {
        border-top: none;
        border-left: none;
    }
    ul.nav-list .nav-item:last-child {
        border-bottom: 1px solid white;
        border-left: none;
    } */
}
